.wrapper {
  display:grid;
  grid-template-areas: 'cat posts users';
}

.top{
  grid-area: "hdr";
}

.categories{
  padding: 5px; 
  width: 100px;
  grid-area: "cat";
}

.posts{
  padding: 10px;
  grid-area: "posts";
}

.user{
  float: right;
  grid-area:"user";
}

.nav{
  padding-left: 5px;
  position: initial;
  top:0;
  width: 100%;
  background-color: antiquewhite;
}

/*grid*/
.authvote{
  width: 50%;
  display: grid;
  grid-template-areas: 'auth vote';
}

.post{
  margin: 3px;
}

.post>.author{
  grid-area: 'auth';
  font-size: 15%;
  color:gray;
}

.post>.vote{
  grid-area: 'vote';
  font-size: 10%;
}

a {
  color: black;
}

a:hover {
   color: black;
   text-decoration-line: none;
}
/*grid*/
.newpost-grid{
  display: grid;
  width: fit-content;
  grid-template-areas: 'bck-btn title'
}

.newpost-title{
  grid-area: 'title'
}

.btn-new-post{
  margin-bottom: 5px;
  width: 100%; 
}


.close-search {
  grid-area: 'bck-btn';
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

.form-post{
  padding: 10px;
  border-radius: 2px;
  border: solid black;
  margin-left: 10%;
  margin-right: 10%;
}