.wrapper {
  display:grid;
  grid-template-areas: 'cat posts users';
}

.top{
  grid-area: "hdr";
}

.comment{
  display: grid;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.comment-body{
  padding:10px 10px;
  grid-area: 'comm'
}

.authpoint{
  width:50%;
  padding:10px;
  display: grid;
  grid-template-areas: 'auth vote vote-up vote-down';
}

.author-body{
  grid-area: 'auth'
}

.point-body{
  grid-area:'vote'
}

.categories{
  width: 100px;
  grid-area: "cat";
}

.posts{
  padding: 10px;
  grid-area: "posts";
}

.user{
  float: right;
  grid-area:"user";
}

.nav{
  padding-left: 5px;
  position: initial;
  top:0;
  width: 100%;
  background-color: antiquewhite;
}

.list-categories{
  margin-left: 20%;
  margin-right: 20%;
}

/*grid*/
.authvote{
  width: 50%;
  display: grid;
  grid-template-areas: 'auth vote vote-up vote-down';
}

.post{
  margin: 3px;
}

.post>.author{
  grid-area: 'auth';
  font-size: 15%;
  color:gray;
}

.post>.vote{
  grid-area: 'vote';
  font-size: 10%;
}

.sm-comments{
  color: gray;
  font-size: 15px;
}

a {
  color: black;
}

a:hover {
   color: black;
   text-decoration-line: none;
}

/*grid*/
.newpost-grid{
  display: grid;
  width: fit-content;
  grid-template-areas: 'bck-btn title'
}

.newpost-title{
  grid-area: 'title'
}

.btn-new-post{
  margin-bottom: 5px;
  width: 100%; 
}

.new-category{
  margin-left: 10%;
  margin-right: 10%;
}

.btn-new-category{
  margin: 5px;
  width: 100%;
}

.li-new-category{
  background-color: wheat;
}

.back-button{
  grid-area: 'bck-btn';
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

.up-vote{
  display: block;
  grid-area: 'vote-up';
  background-image: url('./icons/baseline-arrow_upward-24px.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  font-size: 0;
  border: none;
  outline: none;
}

.down-vote{
  display: block;
  grid-area: 'vote-down';
  background-image: url('./icons/baseline-arrow_downward-24px.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  font-size: 0;
  border: none;
  outline: none;
}

.form-post{
  padding: 10px;
  border-radius: 2px;
  border: solid black;
  margin-left: 10%;
  margin-right: 10%;
}